* {
    font-weight: normal;
    box-sizing: border-box;
    
}



body {
    background-color: #F0F0F2;
}


header {
    background-color: #6D86A6;

   
    
}

header .laboratory-name {
    width: 99vw;
    font-family: 'Stick No Bills', sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #F0F0F2;
    font-weight: normal;
    font-size: 30px;
    padding: 4px;
    text-align: right;
    
    
}


section .cadastros {
    background-color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: #000000b8;
    padding: 8px;
    border-bottom: 1px #000000b8 solid;
    margin-top: 18px;
    margin-bottom: 18px;

    
}

table, th, td {
    

    border: 1px solid #000000b8;
}
    
table {
    border-collapse: collapse;
    margin: auto;
}
    
th , td{
    padding: 12px;
    text-align: center;
    width: 40vw;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
    

th{
    font-family: 'Roboto', sans-serif;
}
    
tr:nth-child(even) {
    background-color: #9BABBF;
}
    
tr:hover:nth-child(1n + 2) {
    background-color: #2B76D9;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#titulo-form {
    text-align: center;
    width: 99vw;
    background-color: #6D86A6;
    font-family: 'Stick No Bills', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
    color: #fff;
    padding: 4px;
    padding-bottom: 0px;
    border-bottom: 1px #9BABBF solid;
    margin-top: 18px;
    margin-bottom: 18px;
}

#mensagens-erro {
    list-style: none;
    font-family: 'Stick No Bills', sans-serif;
    text-transform: uppercase;
    color: #f24949;
    letter-spacing: 4px;
    font-size: 25px;
    padding-left: 0px;
    border-bottom: 1px #000000 solid;
    margin-bottom: 10px;
    
}

form .nome {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;

    
    padding-left: 0px;
}

.add-nome {
    padding-top: 20px;
}

#nome {
    
    width: 90vw;
    padding: 15px 0px 3px 5px;
    font-size: 20px;
}

form .grupo {
    
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;

}

#sangue {
    position: static;
    width: 40vw;
    padding: 15px 0px 3px 5px;
    font-size: 20px;
}

.campo:hover {
    background-color: #9BABBF;
}

form #adicionar-paciente {
    background-color: #9BABBF;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px 40px;
    font-size: 16px;
    margin-top: 20px;
}


#adicionar-paciente:hover {
    background-color: #2B76D9;
}

